In [1]:
import pandas as pd
import spacy
positions = pd.read_csv('pos.csv')
positions[positions.position.isna()] = 'nan'
positions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5217 entries, 0 to 5216
Data columns (total 2 columns):
position    5217 non-null object
ct          5217 non-null object
dtypes: object(2)
memory usage: 81.6+ KB

In [9]:
nlp = spacy.load("en_core_web_sm")
transformed_post = []
for pos in positions.position:
    transformed = nlp(pos)
    new = ''
    for token in transformed:
        if token.pos_ == 'NOUN' or (token.pos_ == 'VERB' and token.text == 'learning'):
            new += (token.text + ' ')
    if new.find('data scientist') != -1:
        new = 'data scientist'
    if new.find('machine learning') != -1 or new.find('ml') != -1:
        new = 'machine learning'
    if new.find('software') != -1:
        new = 'software engineer'
    if new.find('data analyst') != -1:
        new = 'data analyst'
    if new.find('data engineer') != -1:
        new = 'data engineer'
    transformed_post.append(new.strip())

In [10]:
positions['transformed'] = pd.Series(transformed_post)

In [11]:
positions.head()

                    position   ct       transformed
0             data scientist  355    data scientist
1      senior data scientist   98    data scientist
2           research analyst   66  research analyst
3              data engineer   63     data engineer
4  machine learning engineer   56  machine learning

In [12]:
from collections import Counter
count_trans_pos = Counter(positions.transformed)

In [13]:
count_trans_pos.most_common(100)

[('data scientist', 593),
 ('machine learning', 340),
 ('software engineer', 313),
 ('data analyst', 88),
 ('data engineer', 82),
 ('scientist', 69),
 ('research analyst', 35),
 ('analyst', 30),
 ('engineer', 28),
 ('research scientist', 25),
 ('scientist biology', 18),
 ('research associate', 16),
 ('program manager', 16),
 ('product manager', 13),
 ('', 13),
 ('scientist development', 11),
 ('programmer', 10),
 ('developer', 10),
 ('specialist', 9),
 ('bioinformatics', 8),
 ('director data science', 8),
 ('scientist chemistry', 8),
 ('designer', 7),
 ('manager', 7),
 ('architect', 7),
 ('staff scientist', 6),
 ('assistant', 6),
 ('researcher', 6),
 ('writer', 6),
 ('scientist pharmacology', 6),
 ('director', 6),
 ('product designer', 6),
 ('analyst research', 6),
 ('source research analyst', 6),
 ('market research analyst', 5),
 ('manager data science', 5),
 ('design engineer', 5),
 ('research coordinator', 5),
 ('scientist toxicology', 5),
 ('scientist immunology', 5),
 ('recruiter', 5),
 ('marketing analyst', 5),
 ('bioinformatics scientist', 5),
 ('associate', 5),
 ('end developer', 5),
 ('scientist process development', 5),
 ('research associate biology', 5),
 ('biologist', 4),
 ('data science manager', 4),
 ('data architect', 4),
 ('finance analyst', 4),
 ('end engineer', 4),
 ('process development scientist', 4),
 ('web developer', 4),
 ('scientist bioinformatics', 4),
 ('scientist vivo pharmacology', 4),
 ('manager programming', 4),
 ('data analytics specialist', 4),
 ('director development', 4),
 ('research scientist engineer', 4),
 ('operations research analyst', 3),
 ('business analyst', 3),
 ('research assistant', 3),
 ('research engineer', 3),
 ('stack engineer', 3),
 ('learning scientist', 3),
 ('data science', 3),
 ('research technician', 3),
 ('health scientist', 3),
 ('research scientist genomics', 3),
 ('data research analyst', 3),
 ('analyst data analysis', 3),
 ('project scientist', 3),
 ('research technologist', 3),
 ('scientist sciences', 3),
 ('computer vision research scientist', 3),
 ('scientist research', 3),
 ('compliance manager', 3),
 ('planner', 3),
 ('engineer system integration test', 3),
 ('project engineer systems integration test security clearance', 3),
 ('engineer security clearance', 3),
 ('material planner', 3),
 ('specialist test program operations', 3),
 ('lead', 3),
 ('laboratory technician', 3),
 ('scientist oncology', 3),
 ('scientist cambridge', 3),
 ('process development associate', 3),
 ('support specialist', 3),
 ('scientist immuno oncology', 3),
 ('scientist scientist', 3),
 ('quality engineer', 3),
 ('development scientist', 3),
 ('analyst developer', 3),
 ('secretary', 3),
 ('coordinator', 3),
 ('economist', 3),
 ('scientist i', 3),
 ('data coordinator', 3)]

In [14]:
len(count_trans_pos)

3038